app = 'easybits'
primary_region = 'dfw'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = "30s"
    grace_period = "15s"
    method = "GET"
    path = "/api/health"
    timeout = "5s"

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
