app = 'easybits'
primary_region = 'dfw'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services.http_checks]]
  interval = 30000
  grace_period = "10s"
  method = "GET"
  path = "/api/health"
  protocol = "https"
  timeout = 5000

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
