@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Cabin", serif;
  margin: 0px;
  padding: 0px;
}
.font-jersey {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.font-cabin {
  font-family: "Cabin", serif;
  font-weight: 600;
}

.grid-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  /* background-image: radial-gradient(transparent 1px, #000 1px); */
  background-size: 4px 4px;
  backdrop-filter: brightness(1) blur(10px);
  transition: all 0.5s;
}

.chatHight {
  height: 100%;
  max-height: none;
}

.tooltip {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 10px),
    calc(50% + 10px) calc(100% - 10px),
    50% 100%,
    calc(50% - 10px) calc(100% - 10px),
    0% calc(100% - 10px)
  );
}

@media (max-width: 1024px) {
  .chatHight {
    padding-bottom: 10px;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  rotate: 180deg;
}

/* Markdown para el blog */
.markdown p {
  color: black;
  font-size: 18px;
  margin: 16px 0;
  font-weight: 400;
}

.markdown a {
  color: black;
  text-decoration: underline;
}

.markdown pre {
  background-color: #2f343f;
  border-radius: 4px;
  padding: 0px;
  width: 100%;
  overflow-x: scroll;
}
.markdown code {
  color: black;
  font-weight: bold;
  border-radius: 9px;
  padding: 4px 4px;
  margin-top: 40px;
  font-size: 14px;
  background-color: #e3effd;
}

.markdown blockquote {
  position: relative;
  padding-left: 24px;
  font-style: italic;
  background-color: #eeeeee;
}

.markdown blockquote p {
  color: black;
}

.markdown blockquote::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: black;
  left: 0;
  top: 0;
  bottom: 0;
}

.markdown li {
  font-size: 18px;
  margin: 24px 0 0 0;
  margin-left: 20px;
  list-style-type: disc;
}
.markdown ul li::marker {
  list-style: circle;
}

.markdown ol li {
  list-style: decimal;
  font-size: 18px;
}
.markdown ol li::marker {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.markdown h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 54px 0px 24px 0px;
  font-weight: bold !important;
}

.markdown h2 {
  font-size: 32px;
  line-height: 1.2;
  margin: 48px 0px 24px 0;
  font-weight: bold !important;
}

.markdown h3 {
  font-size: 24px;
  line-height: 1.2;
  margin: 36px 0px 16px 0;
  font-weight: bold !important;
}

.markdown h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 24px 0px 12px 0;
  font-weight: bold !important;
}

.markdown h5,
h6 {
  font-size: 18px;
  line-height: 1.2;
  margin: 10px 0px 6px 0;
  font-weight: bold !important;
}

.markdown img {
  border-radius: 4px;
  margin: 24px 0;
}
