@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Cabin", serif;
}
.font-jersey {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.font-cabin {
  font-family: "Cabin", serif;
}

.grid-overlay {
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, #000 1px);
  background-size: 4px 4px;
  backdrop-filter: brightness(1) blur(10px);
  transition: all 0.5s;
}

.chatHight {
  height: 100%;
  max-height: none;
}

@media (max-width: 1024px) {
  .chatHight {
    padding-bottom: 10px;
  }
}
